body {
    margin: 30em;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
}

header {
    padding: 1em;
    border-width: 2px;
}

h1 {
    text-align: center;
    font-variant: small-caps;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-transform: uppercase;
}

header p {
    margin: 7%;
    line-height: 1.5em;
}

section {
    margin-top: 1em;
    padding: 1em;
    border-width: 2px;
}

nav h2 {
    text-align: center;
    font-variant: small-caps;
    text-decoration-line: none;
    text-decoration-style: none;
    text-transform: uppercase;
}

nav li {
    list-style-type: none;
}

footer {
    margin-top: 1em;
    padding: 1em;
}

footer p {
    text-align: center;
    font-variant: small-caps;
    text-transform: uppercase;
}