/* body {
    background-color: rgb(233, 188, 55);
    margin: 30em;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
}

header {
    padding: 1em;
    border-width: 2px;
    background-color: white;
}

h1 {
    text-align: center;
    font-variant: small-caps;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-transform: uppercase;
}

header p {
    margin: 7%;
    line-height: 1.5em;
}

aside {
    margin-top: 1em;
    padding: 1em;
    border-width: 2px;
    background-color: rgb(232, 206, 128);
}

nav h2 {
    text-align: center;
    font-variant: small-caps;
    text-decoration-line: none;
    text-decoration-style: none;
    text-transform: uppercase;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration-line: none;
    text-decoration-style: none;
    text-decoration-color: rgb(179, 179, 254);
}

footer {
    margin-top: 1em;
    padding: 1em;
}

footer p {
    text-align: center;
    font-variant: small-caps;
    text-transform: uppercase;
} */